# CMake build output
build/
managed_components/

# Ninja
.ninja_deps
.ninja_log

# IDE/project files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# ESP-IDF
sdkconfig
sdkconfig.old

# Local tools/cache
.cache/
