Only in example.sdkconfig.defaults
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ARDUINO_SELECTIVE_COMPILATION=y
CONFIG_ARDUINO_SELECTIVE_ESPmDNS=y
CONFIG_ARDUINO_SELECTIVE_Matter=y
CONFIG_ARDUINO_SELECTIVE_Network=y
CONFIG_ARDUINO_SELECTIVE_Preferences=y
CONFIG_AUTOSTART_ARDUINO=y
CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_BT_NIMBLE_HCI_EVT_BUF_SIZE=70
CONFIG_ESPTOOLPY_AFTER="hard_reset"
CONFIG_ESPTOOLPY_AFTER_RESET=y
CONFIG_ESPTOOLPY_BEFORE="default_reset"
CONFIG_ESPTOOLPY_BEFORE_RESET=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASH_SAMPLE_MODE_STR=y
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_FREERTOS_HZ=1000
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
CONFIG_LWIP_IPV6_AUTOCONFIG=n
CONFIG_OPENTHREAD_LOG_LEVEL_DYNAMIC=n
CONFIG_OPENTHREAD_LOG_LEVEL_NOTE=y

Only in sdkconfig.defaults
CONFIG_ENABLE_MATTER_OVER_THREAD=y
CONFIG_ESP_MATTER_ENABLE_DATA_MODEL=y
CONFIG_ESP_MATTER_ENABLE_MATTER_SERVER=y
CONFIG_ESP_MATTER_ENABLE_OPENTHREAD=y
CONFIG_OPENTHREAD_CONSOLE_ENABLE=n
CONFIG_OPENTHREAD_CONSOLE_TYPE_UART=n
CONFIG_OPENTHREAD_CONSOLE_TYPE_USB_SERIAL_JTAG=n
CONFIG_SUPPORT_ACCESS_CONTROL_CLUSTER=y
CONFIG_SUPPORT_ADMINISTRATOR_COMMISSIONING_CLUSTER=y
CONFIG_SUPPORT_AIR_QUALITY_CLUSTER=y
CONFIG_SUPPORT_BASIC_INFORMATION_CLUSTER=y
CONFIG_SUPPORT_BINDING_CLUSTER=y
CONFIG_SUPPORT_DESCRIPTOR_CLUSTER=y
CONFIG_SUPPORT_GENERAL_COMMISSIONING_CLUSTER=y
CONFIG_SUPPORT_GENERAL_DIAGNOSTICS_CLUSTER=y
CONFIG_SUPPORT_GROUP_KEY_MANAGEMENT_CLUSTER=y
CONFIG_SUPPORT_ICD_MANAGEMENT_CLUSTER=y
CONFIG_SUPPORT_IDENTIFY_CLUSTER=y
CONFIG_SUPPORT_NETWORK_COMMISSIONING_CLUSTER=y
CONFIG_SUPPORT_OPERATIONAL_CREDENTIALS_CLUSTER=y

Different values
CONFIG_DEVICE_SOFTWARE_VERSION_NUMBER: example=600 current=100
